<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.milktea.milkteauser.dao.TeaPayInfoMapper" >
  <resultMap id="BaseResultMap" type="com.milktea.milkteauser.domain.TeaPayInfo" >
    <id column="PAY_ID" property="payId" jdbcType="VARCHAR" />
    <result column="ORDER_NO" property="orderNo" jdbcType="VARCHAR" />
    <result column="PAY_SERIAL_NO" property="paySerialNo" jdbcType="VARCHAR" />
    <result column="PAY_STATUS" property="payStatus" jdbcType="CHAR" />
    <result column="ERROR_MSG" property="errorMsg" jdbcType="VARCHAR" />
    <result column="PAY_TIME" property="payTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="PAY_TYPE" property="payType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PAY_ID, ORDER_NO, PAY_SERIAL_NO, PAY_STATUS, ERROR_MSG, PAY_TIME, UPDATE_TIME, PAY_TYPE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TEA_PAY_INFO
    where PAY_ID = #{payId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from TEA_PAY_INFO
    where PAY_ID = #{payId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.milktea.milkteauser.domain.TeaPayInfo" >
    insert into TEA_PAY_INFO (PAY_ID, ORDER_NO, PAY_SERIAL_NO, 
      PAY_STATUS, ERROR_MSG, PAY_TIME, 
      UPDATE_TIME, PAY_TYPE)
    values (#{payId,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR}, #{paySerialNo,jdbcType=VARCHAR}, 
      #{payStatus,jdbcType=CHAR}, #{errorMsg,jdbcType=VARCHAR}, #{payTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{payType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.milktea.milkteauser.domain.TeaPayInfo" >
    insert into TEA_PAY_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="payId != null" >
        PAY_ID,
      </if>
      <if test="orderNo != null" >
        ORDER_NO,
      </if>
      <if test="paySerialNo != null" >
        PAY_SERIAL_NO,
      </if>
      <if test="payStatus != null" >
        PAY_STATUS,
      </if>
      <if test="errorMsg != null" >
        ERROR_MSG,
      </if>
      <if test="payTime != null" >
        PAY_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="payType != null" >
        PAY_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="payId != null" >
        #{payId,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="paySerialNo != null" >
        #{paySerialNo,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=CHAR},
      </if>
      <if test="errorMsg != null" >
        #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.milktea.milkteauser.domain.TeaPayInfo" >
    update TEA_PAY_INFO
    <set >
      <if test="orderNo != null" >
        ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="paySerialNo != null" >
        PAY_SERIAL_NO = #{paySerialNo,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null" >
        PAY_STATUS = #{payStatus,jdbcType=CHAR},
      </if>
      <if test="errorMsg != null" >
        ERROR_MSG = #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        PAY_TIME = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payType != null" >
        PAY_TYPE = #{payType,jdbcType=VARCHAR},
      </if>
    </set>
    where PAY_ID = #{payId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.milktea.milkteauser.domain.TeaPayInfo" >
    update TEA_PAY_INFO
    set ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      PAY_SERIAL_NO = #{paySerialNo,jdbcType=VARCHAR},
      PAY_STATUS = #{payStatus,jdbcType=CHAR},
      ERROR_MSG = #{errorMsg,jdbcType=VARCHAR},
      PAY_TIME = #{payTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      PAY_TYPE = #{payType,jdbcType=VARCHAR}
    where PAY_ID = #{payId,jdbcType=VARCHAR}
  </update>
</mapper>